<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<appSettings>
		<add key ="gmailUsername" value="test@gmail.com"/>
		<add key ="gmailPassword" value="dumfrlkgotjkfr"/>
		<add key ="emailFromAddress" value="test@gmail.com"/>
		<add key ="emailToAddress" value="test@gmail.com"/>
	</appSettings>
</configuration>